numpy
scipy>=1.0.0
matplotlib
scikit-learn
seaborn
mkl
h5py
pymatsolver
discretize
git+https://github.com/simpeg/simpeg.git@examples/PGI
git+https://github.com/simpeg/simpegEM1D@examples/PGI
git+https://github.com/simpeg/tle-magnetotelluric_inversion@master
